{{ define "main" }}
<main class="pb7" role="main">
  <article class="ph3 ph4-ns pb3 pb4-ns pt1 pt2-ns nested-copy-line-height">

    {{/* This section displays the intro text from the page's _index.md file */}}
    <section class="cf ph3 ph5-l pb3 f4 mw9 center lh-copy mid-gray">
      <div class="tl">
        {{- .Content -}}
      </div>
    </section>

    {{/* This section displays the cards for any sub-pages, except on the main /docs/ page */}}
    {{ if not (eq .Permalink (absLangURL "docs/")) }}
    <section class="flex flex-wrap-l justify-center ph3 ph5-l pb3 f4 mw9 center lh-copy mid-gray">
    {{ range .Pages }}
        <div class="relative w-100 w-30-l pa2-l mh2-l mb4 bg-white">
        {{ .Render "summary" }}
        </div>
    {{ end }}
     </section>
    {{ end }}

  </article>
</main>
{{ end }}