{{ define "main" }}
  {{/* The 'pt0' class ensures the <main> container itself has no top padding. */}}
        <article class="ph3 center" style="font-size: 1.115rem; max-width: 85rem; line-height: 1.21;">

      {{/* New "Back to Parent" link */}}
      {{ with .Parent }}
        {{ if .Title }}
          <a href="{{ .RelPermalink }}" class="mb4 f5 link dim">&laquo; Back to {{ .Title }}</a>
        {{ end }}
      {{ end }}

        {{ with .Params.author }}
          <p class="f6 dib tracked">{{ . }}</p>
        {{ end }}
        {{ if not .Date.IsZero }}
          {{/* The 'mv4' (vertical margin) class was changed to 'mb4' (margin-bottom only). */}}
          {{/* This removes the whitespace that was appearing ABOVE the date. */}}
          <time class="f6 mb4 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ end }}
        
        <div class="nested-links">
          {{- .Content -}}
        </div>

    </article>
{{ end }}