{{ define "main" }}
<main class="pb7" role="main">

    <!-- 
        cf            Contain
        ph3           Padding-X
        ph5-l         Padding-X-L
        pv3           Padding-Y
        pv4-l         Padding-Y-L
        f4            FontSize
        center        Center
        tc-l          TextAlign-L
        w-90-ns       Width-NS
        mw8           MaxWidth
        mw9           MaxWidth
        lh-copy       LineHeight
        nested-links  Links
        mid-gray      Color
    -->

  {{/* This renders the content from content/_index.md in a wider container */}}
  {{/* The 'measure-wide' class was removed and 'w-90-ns mw9' were added to increase the width */}}
  <!-- <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center w-90-ns mw9 lh-copy nested-links mid-gray"> -->
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center mw8 lh-copy nested-links mid-gray">
    {{- .Content -}}
  </article>

  {{/* This section displays announcements, reverted to its original width */}}
  {{ $pages := where .Site.RegularPages "Section" "announcements" }}
  {{/* Corrected .byDate to .ByDate */}}
  {{ $sortedPages := $pages.ByDate.Reverse }}

  {{ if $sortedPages }}
  <div class="pa3 pa4-ns w-100 w-70-ns center">
    <section class="w-100 mw8">
      {{ range $sortedPages }}
      <div class="w-100 mb4 relative">
        <article class="bb b--black-10">
          <div class="db pv4 ph3 ph0-l dark-gray no-underline">
            <div class="flex-column flex-row-ns flex">
              <div class="blah w-100">
                <h1 class="f3 fw1 athelas mt0 lh-title">
                  <a href="{{ .RelPermalink }}" class="color-inherit dim link">
                    {{ .Title }}
                  </a>
                </h1>
                <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
                  {{ .Summary }}
                </div>
                <a href="{{ .RelPermalink }}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">read more</a>
              </div>
            </div>
          </div>
        </article>
      </div>
      {{ end }}
    </section>
  </div>
  {{ end }}

</main>
{{ end }}